.team-member {
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.world-map {
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.photo-tag {
  text-align: center;
}

#our-team {
  text-align: center;
}