.blogs-content{
  background: white !important;
}

.blog-image {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
}

#blog-title {
  font-size: 2.3em;
}

.content {
  font-size: 1.15em;
}

.related-cards-links {
  margin-right: 11px;
}

@media (max-width: 991px) {
  #blog-title {
    font-size: 1.5em;
    text-align: center;
  }
}