.blog-content {
  a {
    color: #01b7f2;
  }
  a:hover {
    color: red;
  }
  background: white !important;
  p {
    font-size: 1.25em;
  }
  h1 {
    padding-top: 15px;
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.8em;
  }
  h5 {
    font-size: 1.4em;
  }
}

.factors {
  margin-bottom: 0px;
}