@import url(https://fonts.googleapis.com/css?family=Raleway:500);

$white          : #fff;
$lightgray      : #D3D3D3;
$darkgray       : #464646;
$skyblue        : #0e95e0;
$lighterskyblue : #269fe3;
$black          : #000;

.page-header {
  font-family: 'Raleway', sans-serif;
}

.page-header-annual-fee {
  padding-bottom: 20px;
}

.card-row {
  padding-top: 20px;
}

.related-cards {
    padding-left: 10px;
    padding-right: 10px;
}

.related-card-header {
  padding-top: 0px;
}

.related-card-name {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;

}

.related-cards {
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.related-card-image {
  margin-left: auto;
  margin-right: auto;
}

.reward-graph-container {
  background: #f5f5f5;
  padding: 20px 20px 50px 20px;
}

.sign-up-bonus-title {
  font-family: 'Raleway', sans-serif;
}

.sign-up-bonus-h1-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #01b7f2;
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  z-index: 1;
  a:hover {
    color: #2d3e52;
  }
}

#reward-chart {
  opacity: 1.0;
}

.sign-up-bonus-title {
  text-align: center;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}



h3 {
  font-family: 'Raleway', sans-serif;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-success {
    background: $skyblue;
    color: $white;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: $lighterskyblue;
}

.btn-success:active, .btn-success.active {
    background: $lightgray;
    box-shadow: none;
}

.btn-success:active:focus {
  background-color: $lightgray;
}
