@import url(https://fonts.googleapis.com/css?family=Raleway:500);

$white          : #fff;
$lightgray      : #D3D3D3;
$darkgray       : #464646;
$skyblue        : #0e95e0;
$lighterskyblue : #269fe3;
$black          : #000;

.page-header {
  font-family: 'Raleway', sans-serif;
}

.page-header-annual-fee {
  padding-bottom: 20px;
}

.card-row {
  padding-top: 20px;
}

.related-cards {
    padding-left: 10px;
    padding-right: 10px;
}

.related-card-header {
  padding-top: 0px;
  padding-bottom: 10px;
}

.FavoriteButtonMobile {
  margin-bottom: 30px;
}

.related-card-name {
  padding-top: 10px;
  min-height: 75px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.related-card-bonus-amount {
  font-family: 'Raleway', sans-serif;
  color: #01b7f2;
  text-align: center;
  margin-bottom: 0px;
}

.related-cards {
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.card-description {
  h2 {
    font-size: 2em;
  }
  .icon-box {
    font-size: 1em;
  }
}

.bottom-stats {
  padding-top: 10px;
  padding-bottom: 0px;
  h2 {
    font-size: 2em;
  }
}

.related-blog-posts {
  h2 {
    padding-bottom: 10px;
  }
  padding-top: 10px;
  padding-bottom: 10px;
}

#car-details {
  li {
    font-size: 1.15em;
    padding-bottom: 5px;
  }
}

.related-card-image {
  margin-left: auto;
  margin-right: auto;
}

#bonus-cards {
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
}

.reward-graph-container {
  background: #f5f5f5;
  padding: 30px 20px 20px 20px;
  box-shadow: 5px 5px 20px #888888;
  margin-bottom: 70px;
}

.sign-up-bonus-title {
  font-family: 'Raleway', sans-serif;
}


//No Bonus Message Styling
.no-bonus-info {
  display: none;
}


.no-bonus-info-title-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #01b7f2;
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: 0px;
  width: 100%;
  z-index: 1;
  a:hover {
    color: #2d3e52;
  }
}

.no-bonus-info-subtitle-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #01b7f2;
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  z-index: 1;
  a:hover {
    color: #2d3e52;
  }
}

.cards-with-bonuses {
  position: relative;
  z-index: 1;
}

#reward-chart {
  opacity: 1.0;
  z-index: 0;
}

.sign-up-bonus-title {
  text-align: center;
}

#loaderImg {
  padding-top: 50px;
  display: none;
  text-align: center;
}

.apply-center-container {
  margin-top: 50px;
  background: #f5f5f5;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.time-to-apply-title {
  text-transform: uppercase;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-success {
    background: $skyblue;
    color: $white;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: $lighterskyblue;
}

.btn-success:active, .btn-success.active {
    background: $lightgray;
    box-shadow: none;
}

.btn-success:active:focus {
  background-color: $lightgray;
}

.c3-line {
  stroke-width: 2px;
}

.c3-line-amount {
  stroke-width: 3.3px;
}

.details-text-box {
  min-height: 75px;
}
