.card-image-cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#apply-now-color {
  color: #838383;
}

#apply-now-title {
  font-size: .8em;
}

#cat-card-title {
  padding-top: 10px;
  padding-bottom: 6px;
}

.see-more-button {
  margin-top: 12px;
}

#sort-button {
  margin: 16px 4px 4px 0px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.category-description {
  margin-left: 13px;
  margin-right: 13px;
  text-align: center;
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}