$lightBlue : #01b7f2;
$lightGray : #838383;
$dark-blue-theme-color: #2d3e52;

// Loader Img
.loading-animation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsla(0,0%,97%,.8);
  z-index: 100;
}

.loading-animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 257px;
  margin-top: -129px;
  margin-left: -150px;
  padding: 60px 30px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  z-index: 1;
}

.loading-cards-text {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
  color: black;
}

#loader-img-plane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

//Top Description
.explanation {
  h2 {
    color: $lightBlue;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
    @media (min-width: 991px) {
      font-size: 4.2em;
      letter-spacing: 1px;
    }
  }
  p {
    padding: 10px 20px;
    font-size: 1.3em;
    text-align: justify;
    @media (min-width: 991px) {
      font-size: 1.6em;
    }
  }
}

select {
  padding-left: 8px !important;
  border: 1px solid #111;
  width: 100%;
  font-size: 16px;
  border: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  padding: none;
  background: url(https://s3.amazonaws.com/toomanymiles-images/favicons/favicon-16x16.png) 98% / 6% no-repeat #f5f5f5;
  @media (min-width: 991px) {
    background: url(https://s3.amazonaws.com/toomanymiles-images/favicons/favicon-16x16.png) 98% / 3% no-repeat #f5f5f5;
  }
}

.card-box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.sort-by-credit-score {
  padding-top: 15px !important;
}

.first-input {
  margin-right: 20px;
}

.card-image-cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  width: 22%;
  @media (max-width: 480px) {
    width: 45%;
  }
}

@media (min-width: 480px) {
  .apply-now-button-category {
    max-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .see-more-button {
    max-width: 300px;
  }
}

#no-info {
  font-size: 1.5em !important;
}

.favorite-button {
  margin-bottom: 50px !important;
}

.listing-style3.flight .details {
  padding-left: 0px;
}

.apply-now-color {
  color: #838383;
}

.apply-now-title {
  font-size: .8em;
}

#other-nums {
  font-size: 0.7em;
  color: #838383;
  padding-bottom: 30px;
  text-transform: lowercase;
}

.bus-card-checkbox {
  padding-top: 20px !important;
  input[type="checkbox"] {
    margin-right: 5px;
    opacity: 1;
  }
}

//Favorite Button - Heart
.heart {
  fill: #D75A4A;
  position: relative;
  width: 45px;
  animation: pulse 1s ease;
  display: block;
  margin: 0 auto;
}

.empty-heart {
  fill: none;
  stroke: $lightGray;
  position: relative;
  width: 45px;
  display: block;
  margin: 0 auto;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

//No Cards Found
.no-cards-found {
  h2 {
    text-align: center;
  }
  img {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
}

//Icon Next To Sort
.question-icon::after {
  content: "";
  display: inline-block;
  background: url("https://s3.amazonaws.com/toomanymiles-svgs/info.svg") no-repeat top right;
  width: 23px;
  height: 15px;
}

//Tooltip
.tooltop {
  position: relative;
  display: inline-block;
}

/* tooltop text */
.tooltop .tooltoptext  {
  visibility: hidden;
  font-size: 14px;
  background-color: white;
  color: #929292;
  border-color: #dcdcdc;
  border-radius: 2px;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,.2);
  width: 200px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 15px;
  text-transform: none;
  opacity: 0;
}

.tooltop:hover .tooltoptext {
  visibility: visible;
  top: 75%;
  left: 50%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

//Mobile Info
@media (max-width: 991px) {
  .tooltop-apply-now .tooltop-apply-now-text {
    visibility: hidden;
    font-size: 14px;
    background-color: white;
    color: #929292;
    border-color: #dcdcdc;
    border-radius: 2px;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.2);
    width: 200px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 15px;
    text-transform: none;
    opacity: 0;
    position: absolute;
    bottom: 80px;
    right: 50px;
  }

  #tooltop-apply-now-bonus-dollar #tooltop-apply-now-text-bonus-dollar {
    top: 15px;
    bottom: inherit;
  }

  .tooltop-apply-now:hover .tooltop-apply-now-text, .tooltop-apply-now:focus .tooltop-apply-now-text {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
}

//Desktop Info
@media (min-width: 992px) {
  .tooltop-apply-now .tooltop-apply-now-text {
    visibility: hidden;
    font-size: 14px;
    background-color: white;
    color: #929292;
    border-color: #dcdcdc;
    border-radius: 2px;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.2);
    width: 200px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 15px;
    text-transform: none;
    position: absolute;
    left: 320px;
  }

  #tooltop-apply-now-bonus-dollar #tooltop-apply-now-text-bonus-dollar {
    left: 40px;
    top: 60px;
  }

  .tooltop-apply-now:hover .tooltop-apply-now-text, .tooltop-apply-now:focus .tooltop-apply-now-text {
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
}

#cat-panel {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

#cat-card-title {
  font-size: 1.6em;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #dcdcdc;
}

#best-offer-color {
  padding-bottom: 50px;
}

.see-more-button {
  margin-top: 12px;
}

#sort-button {
  margin: 16px 4px 4px 0px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.category-description {
  margin-left: 13px;
  margin-right: 13px;
  text-align: center;
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}

.time {
  font-size: 1.0em;
}

.business-card-label {
  figcaption {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    background: #b4b7bb;
    border-radius: 7px;
    .caption-title {
      margin: 0;
      color: #fff;
      line-height: 1.1em;
    }
  }
}

@media (min-width: 480px) {
  .business-card-label {
    figcaption {
      padding: 5px 20px 5px 20px;
      min-width: 130px;
    }
  }
}

@media (max-width: 479px) {
  .business-card-label {
    figcaption {
      padding: 4px 10px 4px 10px;
      .caption-title {
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }
  #other-nums {
    font-size: 1.2em !important;
  }
}

@media (min-width: 480px) {
  .mobile {
    display: none;
  }
}
