.best-offer-color {

}

.card-image-cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#apply-now-color {
  color: #838383;
}

#apply-now-title {
  font-size: .8em;
}

#cat-card-title {
  padding-top: 10px;
  padding-bottom: 6px;
}

.see-more-button {
  margin-top: 12px;
}