$bgDefault      : #fff;
$bgHighlight    : #D3D3D3;
$colDefault     : #464646;
$colHighlight   : #0e95e0;
$white          : #FFF;
$black          : #000;
$lightGray      : #f8f8f8;

.card-suggestions {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  :hover {
    background: $lightGray;
  }
  :active {
    background: $bgHighlight;
  }
  @media (min-width: 992px) {
    width: 25%;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}

.card-suggestions li {
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin:0;
  padding:20px;
  transition:background 0.2s;
  display:flex;
  justify-content:space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.hl {
  background:#ffc600;
}

.mobile-search-form {
  padding: 12px;
}

.example-enter {
  transition: all 0.5s;
  transform: translateY(100%);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.example-leave {
  transition: all 0.5s;
  left: 0;
  bottom: 0;
  transform: translateY(0);
  position: absolute !important;
}

.example-leave.example-leave-active {
  transform: translateY(-100%);
}