$lightBlue : #01b7f2;
$lightGray : #838383;

.main-start-here {
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
  }
}

.intro-para {
  text-align: center;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    color: #01b7f2;
    font-weight: 550;
  }
  p {
    font-size: 1.25em;
    text-align: justify;
  }
}


  .category-title {
    text-align: center;
  }


