$lightBlue : #01b7f2;
$lightGray : #838383;

.fullwidthbanner-container {
  height: 500px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  background: url(image_path('welcome/beach1.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.top-title {
  margin-top: 176px;
  font-weight: 900;
  text-align: center;
  color: white;
  font-size: 2.8em;
  font-family: 'Raleway', sans-serif;
 }

 //Graph CSS
.graph-detail {
  display: none;
  text-align: center;
}

.subtitles {
  text-align: center;
}


.front-page-deals {
  padding-top: 3px;
  padding-bottom: 3px;
}


//How It Works Boxes
.how {
  padding-top: 35px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

#how {
  color: $lightGray !important;
  text-align: center;
  font-size: 3.5em;
  padding-bottom: 10px;
}

.how-desc {
  font-size: 1.7em;
  color: #838383;
}

.description {
  font-size: 1.5em;
}

.steps {
  color: $lightBlue;
}

//Example Title
.example {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: $lightGray !important;
}

//Reward Box
.reward-graph-box {
  padding-bottom: 30px;
}

#yes-or-no {
  text-align: center;
}

.card-name {
  padding-top: 10px;
  text-align: center;
}

.apply-info {
  padding: 30px 20px 20px 20px;
  text-align: center;
}

//Favorite Cards

.best-offer {
  font-size: 2.2em;
}

.apply-now {
  font-size: 1.5em;
}

//Recent Blogs Posts
.recent-blog-posts {
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 10px;
  h2 {
    color: $lightBlue !important;
  }
}

@media (max-width: 480px) {
  .fullwidthbanner-container {
    height: 400px;
  }
  .top-title {
    font-size: 2.6em;
    margin-top: 130px;
  }
}

@media (max-width: 320px) {
  .top-title {
    font-size: 2.2em;
  }
}