.logo-title {
  font-size: 25px;
  padding-bottom: 5px;
}

.fullwidthbanner-container {
    max-height: 425px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.fullwidthbanner-container img {
   width: 100%;
   height: auto;
 }

 .top-title {
  color: #269fe3;
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
 }

.graph-detail {
  display: none;
  text-align: center;
}

.how {
  text-align: center;
  font-size: 15px;
}

