$lightBlue : #01b7f2;
$lightGray : #838383;

.fullwidthbanner-container {
    max-height: 425px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.fullwidthbanner-container img {
   width: 100%;
   height: auto;
 }

 .top-title {
  padding-top: 40px;
  color: $lightBlue;
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
 }

 //Graph CSS

.graph-detail {
  display: none;
  text-align: center;
}

.subtitles {
  text-align: center;
}


.front-page-deals {
  padding-top: 3px;
  padding-bottom: 3px;
}

#how {
  color: $lightGray !important;
  text-align: center;
  font-size: 29px;
}




//Step Boxes
.how {
  padding-bottom: 50px;
}

.steps-box {
  font-family: 'Raleway', sans-serif;
}

.how-desc {
  font-size: 1.4em;
  color: #838383;
}

.steps {
  color: $lightBlue;
}

//Example Title
.example {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: $lightGray !important;
}

#how {
  padding-bottom: 10px;
  font-size: 29px;
}

//Reward Box
.reward-graph-box {
  padding-bottom: 30px;
}

#yes-or-no {
  text-align: center;
}

.card-name {
  padding-top: 10px;
  text-align: center;
}

.apply-info {
  padding: 30px 20px 20px 20px;
  text-align: center;
}
