.logo-title {
  font-family: 'Raleway', sans-serif;
  color: #838383;
  font-size: 25px;
  padding-bottom: 5px;
}

.fullwidthbanner-container {
    max-height: 425px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.fullwidthbanner-container img {
   width: 100%;
   height: auto;
 }


