.fullwidthbanner-container-scores {
  height: 400px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  background: url(image_path('start_here/credit_score/bear.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sub-header {
  font-size: 2.8em;
  color: $light-blue-color;
  text-align: center;
  padding: 15px;
}

@media (max-width: 480px) {
  .fullwidthbanner-container-scores {
    height: 300px;
  }
}

.article-summary {
  min-height: 150px;
}

.continue-button {
  padding-top: 30px;
}

.article-box {
  margin-bottom: 30px !important;
}