<%= render partial: "index_header" %>

<!-- SlideShow -->
<div id="slideshow">
  <div class="fullwidthbanner-container">
    <div class="revolution-slider" style="height: 0; overflow: hidden;">
      <ul>
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
          <%= image_tag("slider/bg2.jpg") %>
        </li>
      </ul>
    </div>
  </div>
</div>

<section id="content">
  <div class="container section">
    <div class="row image-box style4">
      <div class="col-sm-4">
        <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0">
          <figure>
            <a title="" href="#" class="hover-effect"><img src="http://placehold.it/370x172" alt=""></a>
          </figure>
          <div class="details">
            <h4 class="box-title">See Top Reward Cards</h4>
            <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0.3">
          <figure>
            <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" src="http://placehold.it/370x172"></a>
          </figure>
          <div class="details">
            <h4 class="box-title">See Travel Cards</h4>
            <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0.6">
          <figure>
            <a title="" href="#" class="hover-effect"><img width="370" height="172" alt="" src="http://placehold.it/370x172"></a>
          </figure>
          <div class="details">
            <h4 class="box-title">Browse Categories</h4>
            <a class="goto-detail" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="container section">
  <h2>Best Cards Right Now!</h2>
  <div class="car-slideshow image-carousel style2 box" data-animation="slide" data-item-width="270" data-item-margin="30">
    <ul class="slides image-box car listing-style1">
      <% @welcome_presenter.best_cards.each do |card| %>
      <li>
        <article class="box">
          <figure>
              <a href="#" title=""><img src=<%= card.image_link %> alt=""></a>
          </figure>
          <div class="details">

              <h4 class="box-title"><%= card.name %></h4>
              <p class="mile"><span class="skin-color">BONUS:</span> 10000</p>
              <p class="mile"><span class="skin-color">Good Time to Apply?</span> Yes</p>
              <div class="action">
                  <a href="car-detailed.html" class="button btn-small full-width">SEE MORE</a>
              </div>
          </div>
        </article>
      </li>
      <% end %>
    </ul>
  </div>
</div>
