<%= render partial: "start_here_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Learn About Credit Cards</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li class="active">Start Here</li>
    </ul>
  </div>
</div>

<section class="all-content" id="content">
  <div class="container intro-para">
    <h1>CREDIT CARD BEGINNERS GUIDE</h1>
    <p>It can be hard to know where to start when applying for a credit card. What’s the first step? Do I want an airline specific card or just a generic travel credit card? Will opening these cards hurt my credit score, and how can I go about keeping this all organized? Getting the best deals, maximizing your points/miles, and keeping sane while accomplishing this can seem like a daunting task especially with so much information available. Our goal in this guide is to make planning, applying, and maximizing your travel rewards simple and easy.</p>

    <p>Below you will find a list of categories so you can find the information you need fast and effectively – our general advice is to read from left to right. Clicking on the images below will direct you to list of related blog posts. This is still a work in progress, but our end goal is to make the process as easy as possible. Thank you for reading and Happy Travels!</p><hr>
  </div>

  <div class="container main-start-here">
    <div id="main">
      <div class="row add-clearfix image-box style1 tour-locations">

        <div class="col-sm-6 col-lg-4">
          <article class="box">
            <figure>
              <a href="/what-is-a-credit-score" class="hover-effect">
                <%= image_tag("start_here/credit-score.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title">Step 1</h4><br>
              <h4 class="box-title category-title">Learn About Credit Scores</h4>
              <hr>
              <div class="text-center">
                <div class="time">
                  <span>The Facts About Credit Cards and Credit Scores</span>
                </div>
              </div>
              <a href="/what-is-a-credit-score" class="button btn-small full-width">SEE ARTICLES</a>
            </div>
          </article>
        </div>

        <div class="col-sm-6 col-lg-4">
          <article class="box">
            <figure>
              <a href="/types-of-credit-cards" class="hover-effect">
                <%= image_tag("start_here/type-of-card.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title">Step 2</h4><br>
              <h4 class="box-title category-title">Learn the Different Types of Cards</h4>
              <hr>
              <div class="text-center">
                <div class="time">
                  <span>Articles Detailing the Card Categories</span>
                </div>
              </div>
              <a href="/types-of-credit-cards" class="button btn-small full-width">SEE ARTICLES</a>
            </div>
          </article>
        </div>

        <div class="col-sm-6 col-lg-4">
          <article class="box">
            <figure>
              <a href="/the-credit-card-game" class="hover-effect">
                <%= image_tag("start_here/play-the-game.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title">Step 3</h4><br>
              <h4 class="box-title category-title">Learn How to Play the Card Game!</h4>
              <hr>
              <div class="text-center">
                <div class="time">
                  <span>Articles on Manufactured Spending to Churning</span>
                </div>
              </div>
              <a href="/the-credit-card-game" class="button btn-small full-width">SEE ARTICLES</a>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>