<%= render partial: "types_of_credit_cards_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">So Many Cards - So Little Time!</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li><a href="/credit-card-beginners-guide">START HERE</a></li>
      <li class="active">Types of Credit Cards</li>
    </ul>
  </div>
</div>

<section class="all-content" id="content">
  <div class="container intro-para">
    <h1>WHAT TYPE OF CARD SHOULD I GET?</h1>
    <p>Airline, Hotel, or Travel Credit Cards? There are many categories to choose from and within those categories there are many different types of cards. Do you want cards that you can redeem travel expenses directly or do want cards with specific airline points? Are you loyal to one airline or do you fly the cheapest fare always? These questions are tough to answer so we have created a series of articles detailing how to begin the selection process to find the travel credit card that BEST fits your travel needs.</p><hr>
  </div>

  <div class="container main-start-here">
    <div id="main">
      <div class="row add-clearfix image-box style1 tour-locations">

        <div class="col-md-offset-3 col-md-6">
          <article class="box">
            <figure>
              <a href="/blogs/why-i-created-too-many-miles" class="hover-effect">
                <%= image_tag("start_here/what_type_of_card/how-to-use-site.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title"><a href="/blogs/why-i-created-too-many-miles">Why I Created Too Many Miles</a></h4>
              <hr>
              <div class="text-center article-summary">
                <div class="time">
                  <span>The first step to understanding travel credit cards is to learn how to best use this site. In fact, there are lots of resources out there for credit cards - some good, most bad. This article shows how we differ from the competition and  what our competitive advantages are!</span>
                </div>
              </div>
              <a href="/blogs/why-i-created-too-many-miles" class="button btn-small full-width">READ ARTICLE</a>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>