<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">What is a Credit Score?</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li><a href="/credit-card-beginners-guide">START HERE</a></li>
      <li class="active">What is a Credit Score</li>
    </ul>
  </div>
</div>

<section class="all-content" id="content">
  <div class="container intro-para">
    <h1>WHAT IS A CREDIT SCORE?</h1>
    <p>Having a good credit score is crucial to applying for credit cards. Unfortunately, I found that there is a lot of misconceptions about what exactly is a credit score and how one should go about finding and managing it! Below you will find a list of articles covering all the aspects of credit scores. Having a solid foundation of what a credit score is will help you maximize your credit card rewards. Thank you for reading and Happy Travels!</p><hr>
  </div>

  <div class="container main-start-here">
    <div id="main">
      <div class="row add-clearfix image-box style1 tour-locations">
        <div class="col-md-6 col-md-offset-3">
          <article class="box">
            <figure>
              <a href="blogs/what-is-a-credit-score" class="hover-effect">
                <img src="https://s3.amazonaws.com/card-facebook-images/credit_score/bigstock-Good-Credit-Score-5249204.jpg" alt="what is a credit score">
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title"><a href="/blogs/what-is-a-credit-score">What is a Credit Score?</a></h4>
              <hr>
              <div class="text-center">
                <div class="time">
                  <span>TThe first question I always get when I tell people about my obsession with the credit card game is “How does that not ruin your credit score?”</span>
                </div>
              </div>
              <a href="blogs/what-is-a-credit-score" class="button btn-small full-width">READ ARTICLE</a>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>