<div class="cards-with-bonuses">
  <% @card_presenter.bonus_cards.each do |card| %>
      <div class="col-sm-6 col-xs-6">
        <%= link_to image_tag(card.image_link, class:"img-responsive img-hover img-related",id: "bonus-cards"), card_path(card) %>
        <p class="related-card-name"><%= link_to card.name, card_path(card) %></p>
        <p class="related-card-bonus-amount"><strong><%= link_to pluralize(card.rewards.first.amount,  "Point"), card_path(card) %></strong></p>
      </div>
  <% end %>
</div>