<%= render partial: "index_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Your Search Results</h2>
        </div>
        <ul class="breadcrumbs pull-right">
          <li><a href="/">HOME</a></li>
          <li class="active">Card Search Results</li>
        </ul>
    </div>
</div>

<section id="content">
  <div class="container">
    <div id="main">
      <div class="row">

        <!-- Modify Search Box -->
        <div class="col-sm-4 col-md-3">
          <h4 class="search-results-title"><i class="soap-icon-search"></i><b><%= pluralize(@card_count, 'Card')%></b> found.</h4>
          <div class="toggle-container filters-container">
            <div class="panel style1 arrow-right">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
              </h4>
                <div id="modify-search-panel" class="panel-collapse collapse">
                  <div class="panel-content">

                    <div class="form-group">
                      <label>Card Name</label>
                       <form method="get" accept-charset="UTF-8" id="search-form" role="search" action="/cards" class="quick-search">
                          <input type="text" class="input-text full-width" name="search" class="input-text search-input" placeholder="ex. Chase Sapphire Preferred" />
                       </form>
                    </div>

                     <br><button type="submit"  class="btn-medium uppercase full-width">Search</button>
                    <br />
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- End - Modify Search Box -->

        <div class="col-sm-8 col-md-9">

          <!-- Sort By Result Box -->
          <!-- This will be added later -->
          <!-- End - Sort By Result Box -->

          <!-- Card Listings -->
          <div class="flight-list listing-style3 flight">
          <%= react_component('CardApi', url: "/api/v1/cards?search#{@search_term}", currentUser: short_current_user) %>
          </div>
          <!-- End Card Listings -->
        </div>
      </div>
    </div>
  </div>
</section>
