//Bootstrap CSS
@import "bootstrap-sprockets";
@import "bootstrap";


///////////////////////////////////////////////////////////////////


//GENERAL FOLDER
//Sass Theme Files
@import "styles/base/style.scss";
@import "styles/base/updates.scss";
@import "styles/base/responsive.scss";
@import "styles/base/custom.scss";
@import "styles/base/ie.scss";

//Modern Business Theme Files
@import "styles/base/modern-business.scss";


//////////////////////////////////////////////////////////////////


//SHARED FOLDER
//Shared Files
@import "shared/font-awesome.min";
@import "shared/animate.min";

//Revolution Slider Files
@import "shared/revolution_slider/settings.scss";


/////////////////////////////////////////////////////////////////


//STYLES FOLDER
//Layout Specific Styles
@import "styles/styles/navbar.scss";
@import "styles/styles/cards-index.scss";
@import "styles/styles/cards-show.scss";

