<div class="container upload-file">
  <div class="row">
    <div class="col-lg-12">
      <h2>Too Many Miles - Blogs</h2><br>
      <%= link_to "Add a New Blog", new_admin_blog_path %>
    </div>
  </div>
</div>

