<footer id="footer" class="style4">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-xs-6">
          <h2>Words of Inspiration</h2>
          <p>"Don't part with your illusions. When they are gone, you may still exist, but you have ceased to live." - Mark Twain</p>
        </div>

        <div class="col-xs-6">
          <h2>About Too Many Miles</h2>
          <p>A site dedicated to help people explore, travel far, and most importantly travel cheaply. Honest Advice on Travel Credit Cards</p>
          <br />
        </div>
        <div class="col-xs-12">
          <ul class="social-icons clearfix">
            <li class="facebook"><a title="facebook" rel=”publisher” href="https://www.facebook.com/toomanymilescards/?fref=ts" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
            <li class="twitter"><a title="twitter" rel=”publisher” href="https://twitter.com/TooManyMilesCC" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
            <li class="linkedin"><a title="linkedin" rel=”publisher” href="https://www.linkedin.com/company/too-many-miles" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
          </ul>
        </div>
        <br>
        <div class="col-xs-12">
          <h5><%= link_to "Advertiser Disclosure" %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom gray-area">
    <div class="container">
      <div class="copyright pull-right">
        <p>&copy; 2016 Too Many Miles</p>
      </div>
    </div>
  </div>
</footer>