<footer id="footer" class="style4">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-xs-12 footer-content">
          <h2 class="active">Friends of Too Many Miles</h2>
          <ul class="discover triangle hover row friends-list">
            <li class="col-xs-6"><a href="http://www.nomadicmatt.com/">Nomadic Matt's Travel Site</a></li>
            <li class="col-xs-6"><a href="http://thepointsguy.com/">The Points Guy</a></li>
            <li class="col-xs-6"><a href="http://viewfromthewing.boardingarea.com/">View from the Wing</a></li>
            <li class="col-xs-6"><a href="http://angelinatravels.boardingarea.com/">angelinatravelsa Travels</a></li>
            <li class="col-xs-6"><a href="http://www.skyscanner.com/">Sky Scanner</a></li>
            <li class="col-xs-6"><a href="https://www.reddit.com/r/churning">Churn Baby Churn</a></li>
          </ul>
        </div>

        <div class="col-xs-12 about-footer">
          <h2><%= link_to "About Too Many Miles", about_index_path, class: "active" %></h2>
          <p><%= link_to "A site dedicated to help people explore, travel far, and most importantly travel cheaply. Honest Advice on Travel Credit Cards", about_index_path %></p>
          <br />
        </div>
        <div class="col-xs-12">
          <ul class="social-icons clearfix">
            <li class="facebook"><a title="facebook" rel=”publisher” href="https://www.facebook.com/toomanymilescards/?fref=ts" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
            <li class="twitter"><a title="twitter" rel=”publisher” href="https://twitter.com/TooManyMilesCC" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
            <li class="linkedin"><a title="linkedin" rel=”publisher” href="https://www.linkedin.com/company/too-many-miles" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom gray-area">
    <div class="container">
      <div class="copyright pull-right">
        <p>Privacy Policy | Terms of Use | &copy; 2016 Too Many Miles</p>
      </div>
    </div>
  </div>
</footer>