<div id="travelo-signup" class="travelo-signup-box travelo-box">
  <div class="login-social">
    <a href="/auth/facebook" class="button login-facebook"><i class="soap-icon-facebook"></i>Join with Facebook</a>
    <a href="/auth/instagram" class="button login-facebook"><i class="soap-icon-facebook"></i>Join with Facebook</a>
    <!-- This is where additional oauth services will go  -->
  </div>
  <div class="simple-signup">
    <p class="description">By signing up, I agree to Too Many Miles' Terms of Service and Privacy Policy.</p>
  </div>
  <!-- This is where the join by email form will go -->
  <div class="seperator"></div>
  <p>Already a Too Many Miles member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>
</div>