<div id="travelo-login" class="travelo-login-box travelo-box">
  <div class="login-social">
    <a href="/auth/facebook" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
  </div>
<!-- This is where the login via email form will go -->
  <div class="seperator"></div>
    <p>Don't have an account? <a href="#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
</div>