<!-- Regular Nav -->
<div id="page-wrapper">
  <header id="header" class="navbar-static-top style4">
    <div class="container">
      <a href="/"><h1 class="logo navbar-brand">Too Many Miles</h1></a>

      <!-- Search Bar - Non Mobile -->
      <div class="pull-right hidden-mobile search-area">
        <form method="get" accept-charset="UTF-8" id="search-form" role="search" action="/cards" class="quick-search">
          <div class="with-icon">
            <input type="text" name="search" class="input-text search-input" id="select_origin" placeholder="Search for Credit Cards" />
            <button class="icon" id="search-button" type="button submit"><i class="soap-icon-search"></i></button>
          </div>
        </form>
        <!-- Sign Up Buttons Will Go Here!! -->
      </div>
      <!-- End Search Bar - Non Mobile -->
    </div>

    <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">Mobile Menu Toggle</a>
    <div class="main-navigation">
      <div class="container">
        <nav id="main-menu" role="navigation">
          <ul class="menu">
            <li class="menu-item-has-children">
              <a href="/">Home</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/best-credit-card-offers">BEST OFFERS NOW</a>
            </li>
            <li class="menu-item-has-children">
             <a href="/airline-credit-cards">Airline Cards</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/hotel-credit-cards">Hotel Cards</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/business-rewards-credit-cards">Business Cards</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/cash-back-credit-cards">Cash Back Cards</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/travel-credit-cards">All Travel Cards</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
          <div class="topnav">
            <ul class="quick-menu pull-right clearfix">
              <!-- <li><a href="#">ACCOUNT</a></li> -->
            </ul>
          </div>
      </div>
    </div>
    <!-- End Regular Nav -->

    <!-- Mobile Nav -->
    <nav id="mobile-menu-01" class="mobile-menu collapse">
      <ul id="mobile-primary-menu" class="menu">
        <li class="menu-item-has-children">
          <a href="/">Home</a>
          <a href="/best-credit-card-offers">BEST OFFERS NOW</a>
          <a href="/airline-credit-cards">Airline Cards</a>
          <a href="/hotel-credit-cards">Hotel Cards</a>
          <a href="/business-rewards-credit-cards">Business Cards</a>
          <a href="/cash-back-credit-cards">Cash Back Cards</a>
          <a href="/best-credit-card-offers">All Travel Cards</a>
          <a href="/about">About</a>
          </li>
          <!-- Search Bar - Mobile -->
          <li class="menu-item-has-children">
            <form method="get" accept-charset="UTF-8" id="search-form" role="search" action="/cards" class="quick-search">
              <div class="with-icon">
                <input type="text" name="search" class="input-text search-input" id="select_origin_mobile" placeholder="Search for Credit Cards" />
                <button class="icon" id="search-button" type="button submit"><i class="soap-icon-search"></i></button>
              </div>
            </form>
          </li>
          <!-- Search Bar - Mobile -->
          <!-- Sign Up Buttons Will Go Here!! -->
      </ul>
      <ul class="mobile-topnav container">
       <!-- Account Info Will Go Here -->
       <!-- <li><a href="#">MY ACCOUNT</a></li> -->
       <!-- <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
      <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li> -->
      </ul>
    </nav>
    <!-- End Mobile Nav -->
  </header>
</div>










